// Color system
$primary: #ffc107;
$white: #fff;
$lightGray: #b7b7b7;
$Gray: #7f7d7d;
$darkGray: #39383b;
$darkdarkGray: #201b16;



// Variables
$font-family-base: 'Roboto', sans-serif;
$body-color: $white;
$body-bg: $darkGray;
$font-size-root: 15px;
$trans: .4s ease;


//Components
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1170px
);